<app-navbar-customer></app-navbar-customer>
<app-my-merchant-banner [merchant]="merchant"></app-my-merchant-banner>
<app-second-navbar></app-second-navbar>

<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <div class="content-wrapper">
      <!--      Bat dau o day -->
      <div class="container mt-3">
        <h3>Thêm voucher</h3>
        <form [formGroup]="couponForm" (ngSubmit)="createCoupon()" role="form">
          <div class="mb-3">
            <label for="name" class="form-label">Tên voucher</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div class="validate" [hidden]="nameControl.valid || !nameControl.touched">
              <div *ngIf="nameControl.errors?.required">Nhập tên voucher</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Giá trị đơn hàng tối thiểu</label>
            <input type="text" class="form-control" id="price" formControlName="quantity">
            <div class="validate" [hidden]="priceControl.valid || !priceControl.touched">
              <div *ngIf="priceControl.errors?.required">Giá trị đơn hàng tối thiểu</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="reduction" class="form-label">Số tiền giảm giá</label>
            <input type="text" class="form-control" id="reduction" formControlName="reduction">
            <div class="validate" [hidden]="reductionControl.valid || !priceControl.touched">
              <div *ngIf="reductionControl.errors?.required">Số tiền giảm giá</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Mô tả voucher</label>
            <input type="text" class="form-control" id="description" formControlName="description">
            <div class="validate" [hidden]="descriptionControl.valid || !descriptionControl.touched">
              <div *ngIf="descriptionControl.errors?.required">Nhập mô tả voucher</div>
            </div>
          </div>


          <button type="submit" class="btn btn-info">Lưu voucher mới</button>
          <button type="button" class="btn btn-secondary ml-3" routerLink="/merchant">Quay lại</button>
        </form>
      </div>
      <!--      Ket thuc o day-->
    </div>
  </div>
</div>
<hr>
<app-footer></app-footer>
