<app-navbar-customer></app-navbar-customer>
<app-my-merchant-banner [merchant]="merchant"></app-my-merchant-banner>
<app-second-navbar></app-second-navbar>

<section class="content">
  <div class="mt-3 container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách voucher</h3>
            <button class="btn btn-info float-right" id="create-coupon">
              <a class="text-light" routerLink="/merchant/create-coupon">Tạo voucher</a>
            </button>
            <button class="btn btn-info float-right" id="create-dish">
              <a class="text-light" routerLink="/merchant/dish/create1">Tạo món ăn mới</a>
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Tên voucher</th>
                <th>Mức giảm giá</th>
                <th>Đơn giá tối thiểu</th>
                <th>Mô tả</th>
<!--                <th>Mô tả</th>-->
<!--                <th>Ảnh món ăn</th>-->
                <th colspan="2">Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let coupon of coupons; index as i">
                <td>{{i + 1}}</td>
                <td>{{coupon.name}}</td>
                <td>{{coupon.reduction}}</td>
                <td>{{coupon.value}}</td>
                <td>{{coupon.description}}</td>
                <td class="text-center" style="border-left: none">
                  <button (click)="getCouponId(coupon.id)" class="btn btn-danger"   data-toggle="modal" data-target="#delete-voucher-modal">
                    <i class="fa fa-trash"></i>
                  </button>                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<hr>
<app-footer></app-footer>

<div class="modal fade" id="delete-voucher-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Bạn chắc chắn muốn xóa voucher này chứ?</h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="deleteCoupon()">Xóa</button>
      </div>
    </div>
  </div>
</div>
